# Configuración de API Binance
# Copia este archivo a .env y completa con tus credenciales
STAGE=dev #dev-prod
BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_API_KEY_PROD=
BINANCE_API_SECRET_PROD=

# Configuración de Trading
SYMBOL=BTCUSDT
LEVERAGE=10
RISK_PERCENT=2

# Gestión de Riesgo
STOP_LOSS_PERCENT=2
TAKE_PROFIT_PERCENT=4
TRAILING_STOP_ENABLED=false
TRAILING_STOP_PERCENT=2
MAX_PER_POSITION=112  # Máximo por posición en USDT. 0 = usar balance completo

# Ejecución
EXECUTION_INTERVAL=15
TIMEFRAME=1h

# Estrategia
STRATEGY_NAME=default
RSI_PERIOD=14
RSI_OVERBOUGHT=70
RSI_OVERSOLD=30
MACD_FAST=12
MACD_SLOW=26
MACD_SIGNAL=9
SMA_PERIOD=50